version: '3'

services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: stall-reservation-frontend
    ports:
      - "3000:3000"
    environment:
      - NEXT_PUBLIC_API_URL=/api
    restart: always
